{% load static %}
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a href="#"
                   class="nav-link link-dark px-2 active"
                   aria-current="page">Тестовое задание Авдеев</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <a href="https://krasnoyarsk.hh.ru/resume/b609b18aff0b2682a10039ed1f38764d654268"
                   target="_blank"
                   class="nav-link link-dark px-2">Contact me</a>
            </li>
        </ul>
    </div>
</nav>

<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/"
           class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none marg-l">
            <img class="bi me-2" width="40" height="32" src="{% static 'logo_header.png' %}">
            <span class="fs-4">Traffic Light</span>
        </a>
    </div>
</header>
